{% extends 'blog/base.html' %}

{% block content %}
<h1>Public Timeline</h1>
<div class="card-container">
    {% for post in page_obj %}
        <a href="{% url 'post_detail' pk=post.pk %}" class="card-link">
            <div class="card" {% if post.photo %}style="background-image: url('{{ post.photo.url }}');"{% endif %}>
                <div class="card-overlay">
                    <h2 class="card-title">{{ post.title }}</h2>
                </div>
            </div>
        </a>
    {% empty %}
        <div style="background-color: #fff; padding: 20px; border-radius: 8px;">
            <p>No posts have been created yet.</p>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endblock %}